.container {
     background: #fff;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.container2 {
    background-color: #fff;
    width: 460px;
    height: 491px;
    place-items: center;
    display: grid;
    border-radius: 25px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.404);
}

#containerBoton {
    place-items: right;
    display: grid;
    margin-top: 25px;
    margin-left: 380px;
}
.containerStats {
    width: 100%;
    padding: 20px;
    display: inline-block;
    
    margin-left: 50px;
    margin-right: 50px;
    
  }



#titulo {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #151A41;
    margin-bottom: 25px;
    margin-top: 0px;
    margin-right:70px;
    margin-left: 20px;
    
}

.containerText {
    display: grid;
    place-items: center;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 2;
}

#cerrar {
    width: 20px;
}

.closeButton {

    background-color: #fff;
    border: 1px solid;
    border-color: rgba(214, 214, 214, 0.87);
    border-radius: 50%;
    padding: 12px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.281);
    cursor: pointer;
}
.form-group{
    padding: 1px;
    margin-bottom: -100px;
    

}
input[type=radio]{
    display: none;
  }
  input[type=radio]+label{
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color: #000000;
    cursor: pointer;
      border-radius: 10px;
      margin: 0px;
      background: grey;
      
  }
  input[type=radio].select+label{
      background: #ffffff;
      border: 1px solid;
      border-color: #c5c5c5da;
      border-radius: 5px;
  }
  input[type=radio].select:checked+label{
          background: #FF0099;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.288);
          color: #ffffff;
  }

  .stats {
    width: 40px;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #000000;
    padding: 50px;
    margin-right: 110px;
 
 
   
    display: inline-block;
  }
  .stats2 {
    width: 40px;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #000000;
    text-align: right;
    padding: 50px;
    
    display: inline-block;
  }

.check {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: #cfcfcf;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.404);
    
}
.checkbox {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: 30%;    
    
}

#terminos {
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #000000;
    
    
}

hr {
    width: 350px;
    border: none;
    height: 1px;
    color: #525252;
    background-color: #b6b6b6;
    

}

#boton {
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: #151A41;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid;
    border-radius: 5px;
    border-color: #dadada;
    padding: 20px 115px ;
    margin-bottom: 450px;
    

}
#next {
    margin-left: 10px;
    width: 20px;
}

#boton:hover{
    border: 1px solid #151A41;
    cursor: pointer;
}
